main {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(250px, 22vw, 360px), 1fr)
  );
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 1vw;
}

.hero-left {
  gap: 0;
  padding: 0;
  background: linear-gradient(180deg, #071024 0%, #081426 100%);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2vw;
  padding: max(30px, 2vw);
  height: 100%;
  width: 100%;
}

.hero-left input {
  border: none;
  width: 100%;
  padding: 6px 12px;
  border-radius: 12px;
  min-width: 90%;
}

.hero-left label {
  width: 100%;
}

.abre {
  background-color: var(--bg);
  color: var(--text);
  border-radius: 5%;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
