#select-relatorio {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-evenly;
}

select {
  border: none;
  padding: 6px 12px; /* altura e espaçamento horizontal */
  border-radius: 12px;
}

div .pequeno {
  font-weight: 800;
}
