#galeria {
  margin: 30px auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

#galeria::-webkit-scrollbar {
  display: none;
}

.grupo-imagens {
  display: flex;
  justify-content: center;
  gap: 1em;
  animation: spin 60s infinite linear;
  padding-right: 1em;
}

.carta-imagem {
  flex: 0 0 5em;
  height: 5em;
  padding: 0.2em;
  background: var(--card);
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
